* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #f1f5f8;
  /* //////google fonts, change fonts for all body */
  font-family: "Anton", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  /* ////////// */
}

.container {
  text-align: center;
}

/* .container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.img {
  height: 100%;
  width: 100%;
}

.card {
  max-width: 500px;
  padding: 16px;
  background-color: #ffffff;
  margin: 16px;
  box-shadow: 5px 5px 15px grey;
  border-radius: 10px;
}

.container h2 {
  background-color: #222;
  padding: 20;
  border-radius: 10px;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 24px;
  padding: 10px;
}

.colour {
  color: #49a6e9;
}

.btn {
  background-color: transparent;
  padding: 8px;
  border: 2px solid #222;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #222;
  outline: none;
  cursor: pointer;
  margin-bottom: 130px;
}

.btn:hover {
  background-color: #222;
  color: #ffffff;
  /* transition-all(all proporties above:background color and color,will apply in 0.275seconds) , ease-in- make transition smoothly*/
  transition: all 0.275s ease-in;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
